-i https://pypi.org/simple/
asgiref==3.2.7
attrs==19.3.0
certifi==2020.4.5.1
chardet==3.0.4
django==3.0.7
idna==2.8
more-itertools==8.3.0
packaging==20.4
pluggy==0.13.1
py==1.8.1
pyparsing==2.4.7
pytest-django==3.8.0
pytest==5.3.5
pytz==2020.1
requests-mock==1.7.0
requests==2.22.0
six==1.15.0
sqlparse==0.3.1
urllib3==1.26.5
wcwidth==0.2.3
